.container {
    padding: 3rem;
}

.backlog {
    background-color: #D9D9D9;
    padding: 2rem 4rem;
    border-radius: 15px;
}

.tasks {
    margin: 2rem 0;
}

.add {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
}